language: node_js

node_js:
  - 6
  - 8
  - 10

cache:
  directories:
    - $HOME/.npm

branches:
  only:
    - master

jobs:
  include:
    - stage: release
      script: skip
      deploy:
        provider: script
        skip_cleanup: true
        script:
          - npx semantic-release
